<div class="container">
  <div class="row">
    <div class="col-md-7 col-sm-12 col-lg-5 my-auto">
      <div class="card border-primary">
        <!-- <div class="card-header"> -->
          <h3 class="p-4">Login</h3>
        <!-- </div> -->
        <div class="card-body">
          <form [formGroup]="LoginForm">
            <div class="form-group mb-3">
              <input 
              type="email" 
              class="form-control"
              placeholder="Email"
              autocomplete="off"
              formControlName="email"
              [ngClass]="{ 'is-invalid' : LoginForm.get('email').invalid && LoginForm.get('email').touched }"
              [ngClass]="{ 'is-valid' : LoginForm.get('email').valid && LoginForm.get('email').dirty }"
              />
              <div class="invalid-feedback" *ngIf="LoginForm.get('email').errors?.required">
                  {{LoginForm.get('email')?.hasError('required') ? 'El campo esta vacío' : ''}}
              </div>
              <div class="invalid-feedback" *ngIf="LoginForm.get('email').errors?.email">
                  {{LoginForm.get('email')?.hasError('email') ? 'El email es incorrecto' : ''}}
              </div>
            </div>
            <div class="form-group mb-3">
              <div class="input-group">
                <input 
                [type]="fieldTextType ? 'text' : 'password'" 
                class="form-control"
                placeholder="Contraseña"
                autocomplete="off"
                formControlName="password"
                [ngClass]="{ 'is-invalid' : LoginForm.get('password').invalid && LoginForm.get('password').touched }"
                [ngClass]="{ 'is-valid' : LoginForm.get('password').valid && LoginForm.get('password').dirty }"
                />
                <span 
                type="button" 
                class="input-group-text"
                    (click)="toggleFieldTextType()">
                    <fa-icon [icon]="fieldTextType ? faEyeSlash : faEye"></fa-icon>
                </span>
                <div class="invalid-feedback" *ngIf="LoginForm.get('password').errors?.required">
                    {{LoginForm.get('password')?.hasError('required') ? 'El campo esta vacío' : ''}}
                </div>
            </div>
            
            <div class="invalid-feedback">Llena este campo</div>
            </div>
            <div class="form-group d-grid gap-1">
              <button
                type="button"
                class="btn btn-primary"
                [disabled]="!LoginForm.valid"
                (click)="onSubmit()"
               >
                Iniciar Sesion
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
